@font-face {
  font-family: "arcade";
  src: url("fonts/ARCADE.TTF");
}

html {
  font-family: "arcade", serif;
}

.hidden {
  display: none;
}

h1 {
  font-size: 52px;
  text-align: center;
}

.wrapper {
  width: 249px;
  margin: 0 auto;
  position: relative;
}

#high_scores {
  font-size: 18px;
  position: absolute;
  right: 275px;
  width: 200px;
}
#high_scores ol {
  letter-spacing: 0.07rem;
  padding: 0;
  counter-reset: li;
}
#high_scores li {
  margin-bottom: 1rem;
}
#high_scores b {
  display: inline-block;
  text-align: right;
  width: 3.2rem;
}

.grid {
  display: grid;
  column-gap: 1px;
  row-gap: 1px;
}
.grid b {
  background-color: #eee;
  border-radius: 2px;
}
.grid .r {
  background-color: rgb(192, 64, 64);
}
.grid .g {
  background-color: rgb(92, 168, 92);
}
.grid .b {
  background-color: rgb(96, 96, 255);
}
.grid .y {
  background-color: rgb(255, 192, 32);
}
.grid .o {
  background-color: rgb(255, 128, 32);
}
.grid .p {
  background-color: rgb(128, 64, 192);
}
.grid .c {
  background-color: rgb(128, 192, 228);
}

#game_area {
  grid-template-columns: repeat(10, 24px);
  grid-template-rows: repeat(18, 24px);
  width: 249px; /*calc(10 * 25px - 1px);*/
}

#game_area .fade {
  background-color: #eee;
  transition: background-color 0.5s linear;
}

#next_tetronimo {
  position: absolute;
  left: calc(100% + 40px);
  top: 235px;
}
#next_tetronimo .grid {
  grid-template-columns: repeat(4, 24px);
  grid-template-rows: repeat(4, 24px);
  width: 99px;
}

#stats {
  font-size: 36px;
  position: absolute;
  left: calc(100% + 20px);
  top: 0;
  width: 300px;
}
#stats dt {
  float: left;
  clear: left;
  text-align: right;
  width: 7rem;
  margin-right: 0.5rem;
}
#stats dd {
  float: left;
  clear: right;
  text-align: left;
  margin: 0;
}

#controls {
  width: 121px;
  margin: 0 auto;
}
#controls h2 {
  text-align: center;
}
#controls dl {
  margin: 0;
}
#controls dt {
  text-align: right;
  float: left;
  clear: left;
  width: 3rem;
  margin-bottom: 0.5rem;
}
#controls dd {
  text-align: left;
  float: left;
  clear: right;
  margin-left: 0.5rem;
}

.modal {
  background: #ddd;
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 170px;
  margin: 0 auto;
  transform: translate(-50%);
  border: 3px solid #888;
  border-radius: 8px;
}
.modal h2 {
  text-align: center;
  margin: 0 0 1rem;
}

#game_start_modal {
  width: 260px;
}

#game_over_modal {
  width: 260px;
}
.new_game_btn {
  display: block;
  width: 90px;
  margin: 0 auto;
}
#submit_score_btn {
  display: block;
  width: 6.4rem;
  margin: 1rem auto;
}
