#game_area {
  display: grid;
  grid-template-columns: repeat(10, 24px);
  grid-template-rows: repeat(18, 24px);
  column-gap: 1px;
  row-gap: 1px;
  width: calc(10 * 25px - 1px);
  margin: 0 auto;
}
#game_area b {
  background-color: #EEE;
  border-radius: 2px;
}

#game_area .r {
  background-color: rgb(192, 64, 64);
}
#game_area .g {
  background-color: rgb(92, 168, 92);
}
#game_area .b {
  background-color: rgb(96, 96, 255);
}
#game_area .y {
  background-color: rgb(255, 192, 32);
}
#game_area .o {
  background-color: rgb(255, 128, 32);
}
#game_area .p {
  background-color: rgb(128, 64, 192);
}

#game_area .fade {
  background-color: #EEE;
  transition: background-color .5s linear;
}