@font-face {
  font-family: "arcade";
  src: url("fonts/ARCADE.TTF");
}

html {
  font-family: "arcade", serif;
}

.hidden {
  display: none;
}

.wrapper {
  width: 249px;
  margin: 0 auto;
  position: relative;
}
#game_area {
  display: grid;
  grid-template-columns: repeat(10, 24px);
  grid-template-rows: repeat(18, 24px);
  column-gap: 1px;
  row-gap: 1px;
  width: 249px; /*calc(10 * 25px - 1px);*/
}
#game_area b {
  background-color: #eee;
  border-radius: 2px;
}

#game_area .r {
  background-color: rgb(192, 64, 64);
}
#game_area .g {
  background-color: rgb(92, 168, 92);
}
#game_area .b {
  background-color: rgb(96, 96, 255);
}
#game_area .y {
  background-color: rgb(255, 192, 32);
}
#game_area .o {
  background-color: rgb(255, 128, 32);
}
#game_area .p {
  background-color: rgb(128, 64, 192);
}

#game_area .fade {
  background-color: #eee;
  transition: background-color 0.5s linear;
}

#stats {
  font-size: 36px;
  position: absolute;
  top: 0;
  left: calc(100% + 20px);
  width: 300px;
}
#stats dt {
  float: left;
  clear: left;
  text-align: right;
  width: 7rem;
  margin-right: 0.5rem;
}
#stats dd {
  float: left;
  clear: right;
  text-align: left;
  margin: 0;
}

#controls {
  width: 121px;
  margin: 0 auto;
}
#controls h2 {
  text-align: center;
}
#controls dl {
  margin: 0;
}
#controls dt {
  text-align: right;
  float: left;
  clear: left;
  width: 3rem;
  margin-bottom: 0.5rem;
}
#controls dd {
  text-align: left;
  float: left;
  clear: right;
  margin-left: 0.5rem;
}

#game_over_modal {
  background: #ddd;
  padding: 1rem;
  width: 260px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 170px;
  transform: translate(-50%);
  border: 3px solid #888;
  border-radius: 8px;
}
#game_over_modal h2 {
  text-align: center;
  margin: 0 0 1rem;
}
#game_over_modal button {
  display: block;
  width: 90px;
  margin: 0 auto;
}
