
body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.error {
	color: #F00;
}
canvas { width: 100%; height: 100% }

.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}

#message {
	text-align: center;
	width: 100%;
	display: block;
	position: absolute;
	color: #BBF;
	font-size: 1em;
	top: 41%;
	-webkit-transition: font-size 1.5s, letter-spacing 1.5s;
    transition: font-size 1.5s, letter-spacing 1.5s;
}
#message.animate {
	font-size: 3em;
	letter-spacing: 2em;
}

#game_info {
	color: #FFF;
	font-size: 1.25em;
	margin: 0.5em;
	position: absolute;
}
#game_info dl {
	margin: 0;
}

#game_info dt,
#game_info dd {
	float: left;
}
#game_info dt {
	color: #AAA;
	text-align: right;
	clear: left;
	width: 3em;
	padding-top: .25em;
}
#game_info dd {
	text-align: left;
	font-size: 1.5em;
	clear: right;
	margin-left: .25em;
}

#show_high_scores {
	position: absolute;
	right: 1em;
	top: 1em;
}
#show_controls {
	position: absolute;
	right: 1em;
	top: 3em;
}
#mute_music {
	position: absolute;
	left: 1em;
	bottom: 3em;
}
#mute_sound {
	position: absolute;
	left: 1em;
	bottom: 1em;
}

#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #006;
	opacity: 0.75;
	z-index: 5;
}

.popup {
	background: #FFF;
	position: fixed;
	left: 50%;
	top: 50%;
	padding: 1em;
	border-radius: .5em;
	box-shadow: 0px 0px 8px #FFF;
	z-index: 100;
}
.popup h2 {
	text-align: center;
}
.popup button {
	font-size: 1.25em;
	display: block;
	margin: 0 auto;
	border-radius: .25em;
}

#submit_score_popup {
	background: #DFD;
	width: 290px;
	margin-left: -161px;
	margin-top: -125px;
}
#submit_score_popup input[type=text] {
	font-size: 1.25em;
	width: 9em;
	padding: .2em .25em;
	margin-right: .5em;
}
#submit_score_popup button {
	font-size: 1.25em;
	border: none;
	border-radius: .25em;
	cursor: pointer;
}

#high_scores {
	background: #DDF;
	width: 302px;
	margin-left: -167px;
	margin-top: -244px;
}
#high_scores table {
	width: 100%;
	border-collapse: collapse;
	margin: 1em 0;
}
#high_scores th, #high_scores td {
	padding: .4em;
}
#high_scores th:first-child + th {
	text-align: left;
}
#high_scores th:first-child + th + th + th {
	text-align: right;
}
#high_scores td:first-child {
	text-align: right;
}
#high_scores td:first-child + td + td {
	text-align: center;
}
#high_scores td:first-child + td + td + td {
	text-align: right;
}

#controls {
	background: rgba(255,255,255,.8);
	width: 270px;
	margin-left: -135px;
	margin-top: -200px;
}
#controls dl {
	margin-bottom: 1em;
}
#controls dt {
	line-height: 1.9;
	text-align: right;
	float: left;
	clear: left;
	width: 10em;
}
#controls dd {
	text-align: left;
	float: left;
	margin-left: .5em;
	margin-bottom: .5em;
}
.key {
	background: #FFF;
	display: inline-block;
	box-shadow: 1px 1px 0 #555;
	border-radius: .25em;
	padding: .25em .5em;
	border: 1px solid #CCC;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}